@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --cor-primaria: #11224E;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #F87B1B;
    --cor-hover: #293b69;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.cabecalho{
    padding: 2% 0 0% 50%;
    
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
     font-family:var(--fonte-secundaria); 
     font-weight: 600;
     font-size: 1.5rem;
     color: var(--cor-secundaria);
     text-decoration: none;
}

.cabecalho__menu__link:hover{
    font-family:var(--fonte-secundaria); 
     font-weight: 600;
     font-size: 1.5rem;
     color: var(--cor-terciaria);
}

body{
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.DestaqueTitulo{
    color: var(--cor-terciaria);
}

.destaqueParagrafo{
    text-decoration-line: underline;
    text-decoration-color: var(--cor-secundaria);
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    line-height: 1.6;
}

.apresentacao{
    padding: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
   gap: 40px;
}

.apresentacao__imagem{
    width: 40%;
    box-shadow: 15px 15px rgb(51, 43, 33);
    border: 3px outset var(--cor-terciaria);
    border-radius: 12px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.9rem;
    font-family: var(--fonte-principal);
}


.apresentacao__conteudo__paragrafo{
    line-height: 1.2;
    font-size: 1.7rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    hyphens: auto;
}

.apresentacao__conteudo__link{
    font-family:var(--fonte-secundaria); 
    font-weight: 400;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10%;

}

.apresentacao__link__links{
    display: flex;
    justify-content: center;
    gap: 14px;
    border: 2px outset var(--cor-terciaria);
    font-family:var(--fonte-secundaria); 
    font-weight: 400;
    width:50%;
    padding: 25px 0;
    color: var(--cor-secundaria);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    padding-right: 75px;
    padding-left: 75px;

    } 

    .imagem__link{
        width: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apresentacao__link__links:hover{
        background-color: var(--cor-hover);
        border: 2px solid var();
        font-family:var(--fonte-secundaria); 
        font-weight: 700;
        color: var(--cor-secundaria)
    }

    .rodape{
        font-size: 1.32rem;
        display: flex;
        justify-content: center; 
        padding: 40px;
        background-color: var(--cor-terciaria);
        color: var(--cor-secundaria);
        font-family:var(--fonte-secundaria); 
        font-weight: 400;
        margin-top: 160px;
    }

   @media(max-width: 1200px) {
     .cabecalho {
        padding: 10%;
}
    .cabecalho__menu{
        justify-content: center;
}
    
    .apresentacao{
flex-direction: column; 
padding: 5%;  
}
.apresentacao__conteudo{
     width: auto;
}

.apresentacao__conteudo__titulo {
    font-size: 220%;
    
}
.rodape{
    margin-top: 150px;
}
   
}

